header {
    background-color: #e24647;
    color: #fff;
    overflow: hidden;
    margin-left: 115px;
    margin-right: 115px;

    /*padding-left: 60px;
    padding-right: 60px;
    padding-top: 55px;
    padding-bottom: 95px;*/

    /*padding: top right bottom left;*/
    /*forma resumida*/
    padding: 60px 55px 95px 60px;
}

h1 {
    font-size: 40px;
    font-family: Arial, 'Roboto', sans-serif;
    float: left;
}

nav {
    font-size: 21px;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    float: right;
}

a {
    text-decoration: none;
    color: inherit; /*herda do pai*/
}